#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  
}

html{
  background-color: #a4a1a1;
}

.section_right{
  background-image: url("/background_section_left.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 
}


.section_left{
  background-image: url("/background_section_right.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.section_grass{
  background-image: url("/unsplash_fundo.png");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}