#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  
}

html{
  background: rgb(110,134,125);
  background: radial-gradient(circle, rgba(110,134,125,1) 0%, rgba(205,222,233,1) 100%); 
}

.section_right{
  background-image: url("/background_section_left.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 
}


.section_left{
  background-image: url("/background_section_right.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.section_grass{
  background-image: url("/unsplash_fundo.png");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.link{
  background: rgb(255,255,255);
  background: linear-gradient(150deg, rgba(255,255,255,0.329551889115021) 0%, rgba(8,168,216,1) 100%); 
}

.btn_save{
  background: rgb(6,97,124);
  background: linear-gradient(115deg, rgba(6,97,124,1) 0%, rgba(0,153,255,1) 100%); 
}