#root {
  
  margin: 0 auto;
  text-align: center;
  
}

html{
  background: rgb(110,134,125);
  background: radial-gradient(circle, rgba(110,134,125,1) 0%, rgba(205,222,233,1) 100%); 
}

.section_right{
  background-image: url("/background_section_left.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
 
}


.section_left{
  background-image: url("/background_section_right.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.section_grass{
  background-image: url("/unsplash_fundo.png");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.link{
  background: rgb(255,255,255);
  background: linear-gradient(150deg, rgba(255,255,255,0.329551889115021) 0%, rgba(8,168,216,1) 100%); 
}

.link2{
  background: rgb(255,255,255);
  background: linear-gradient(50deg, rgba(225, 230, 233, 0.076) 0%, rgba(179, 203, 211, 0.522) 100%); 
}

.btn_save{
  background: rgb(6,97,124);
  background: linear-gradient(115deg, rgba(6,97,124,1) 0%, rgba(0,153,255,1) 100%); 
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 10px solid;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

#version{

  color: #000000;

}


@keyframes animloader {
  0% {
    border-color: white rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  }
  33% {
    border-color: white white rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  }
  66% {
    border-color: white white white rgba(255, 255, 255, 0);
  }
  100% {
    border-color: white white white white;
  }
} 